<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="/css/recuperar.css">
    <link rel="shortcut icon" href="/img/logoSena.webp" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo_h">
            <img src="/img/logo-de-Sena-sin-fondo-Blanco-300x300.webp">
        </div>
        <div class=" texto_h">
            <label>Servicio de inclucion visual para el lenguaje de señas</label>
        </div>
        <div class="botones">
            <a href="/index.html">Inicio</a>
                    </div>
    </header>
    <div class="contenido">

        <div class="formulario">

            <form>

                <img src="/img/logoSena.webp"><br>
                 <label>Recuperar contraseña</label>
                 <input type="email" class="boton" placeholder="correo@ejemplo.com" required
                 pattern="^[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$"><br><br>
                 <label>Enviaremos el link de<br> restablecimiento a su correo</label>
                <button type="submit">Enviar</button><br><br>
                <a href="/index.html">Inicio</a>

                </form>
        </div>
    </div>
    <footer>
        <div class="logo_f">
            <img src="/img/logo-de-Sena-sin-fondo-Blanco-300x300.webp">
        </div>
        <div class="texto_f">
            <p>
                <br>
                SENA<br>
                Centro de servicios financieron<br>
                © Todos los derechos reservados 2022
            </p>
        </div>
        <div class="texto_f_b">
            <p>
                <br>
                Contactanos
                <br>
                Dirección Cra. 13 #65-10 Barrio Chapinero Bogotá D.C.<br>
                Teléfono 5461600 Ext. 14549<br>
                Conmutador Nacional (57 1) 5461500
            </p>
        </div>
        <div class="logos_f">
            <img src="/img/icons8-facebook-48.webp">
            <img src="/img/icons8-linkedin-48.webp">
            <img src="/img/icons8-twitter-48.webp">
            <img src="/img/icons8-whatsapp-48.webp">
        </div>
    </footer>
</body>
</html>