* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans", sans-serif;
}
header .Help {
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 1.5px;
	box-shadow: 5px;
	border: 1px;
	background-color: #f1eeee;
	margin-top: 5px;
	display: flex;
	justify-content: flex-end;
	padding: 9px;
	color: #f1eeee;
	background: #f1eeee;
	border-radius: 10px;
}
.acceso img {
	margin-right: auto;
}
.acceso {
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 1.5px;
	box-shadow: 5px;
	border: 1px;
	display: flex;
	justify-content: end;
	padding: 9px;
	background: #5eb319;
	border-radius: 10px;
}
.acceso a {
	font-size: 17px;
	margin: 5px;
	text-decoration: none;
	color: #ffffff;
}
.acceso a:hover {
	color: #222;
	font-size: 17px;
}
.acceso {
	padding: 9px 60px;
}

/* estlio card */
.cartas-form{
	display: flex;
	max-width: 1600px;
	width: 90%;
	margin: auto;
	align-items: center;
	justify-content: center;
	padding: 50px;
	border-radius: 10px;

	background-color: #f1eeee;
}
.card{
	display: flex;
	border-radius: 10px;
}
.card .card-body h4{
	display: block;
	font-weight: bold;
	text-align: center;
}
.card .card-body p{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 90%;
	text-align: center;
}
.inputContainer{
    position: relative;
    height: 45px;
    width: 90%;
    background-color: black;
}
.password{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #4b4b4b;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
    background-color: #5eb319;
}
::placeholder{
    color: transparent;
}
.card .card-body .botones{
	display: flex;
	justify-content: space-around;
	padding-bottom:20px ;

}
.card .card-body button{
	border-radius: 10px;
	padding: 5px;
	background: #5eb319;
	border: none;
	color: #f1eeee;
}
.card .card-body a{
	text-decoration: none;
	font-weight: bold;
	color: white;
}
.card .card-body button:hover{
	background: #222;
	border: none;
}

/* Footer */
.pie-paguina {
	margin-top: 4px;
	width: 100%;
	bottom: 0;
}
.pie-paguina h4 {
	text-align: center;
	align-items: center;
	background: #5eb319;
	color: #ffffff;
	width: 90%;
	max-width: 1600px;
	margin: auto;
	padding: 3px 60px;
	margin-bottom: 1.5px;
	border-radius: 10px;
}

.pie-paguina .grupo1 {
	width: 90%;
	max-width: 1600px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 9px 60px;
	background: #f1eeee;
	border-radius: 10px;
	margin-bottom: 1.5px;
}
.pie-paguina .grupo1 .box .red-social {
	text-align: center;
	align-items: center;
}
.pie-paguina .grupo1 .box figure {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pie-paguina .grupo1 .box figure img {
	width: 18;
}
.pie-paguina .grupo1 .box h3 {
	margin-bottom: 25px;
	font-size: 20px;
}
.pie-paguina .grupo1 .box p {
	margin-bottom: 10px;
}
.pie-paguina .grupo1 h3 {
	text-align: center;
}
.pie-paguina .grupo1 .box .red-social svg {
	align-items: center;
}
.pie-paguina .grupo1 .box .red-social a {
	display: inline-block;
	text-decoration: none;
	width: 55px;
	height: 55px;
	line-height: 45px;
	margin: 10px;
	color: #222;
	align-items: center;
	text-align: center;
}
.pie-paguina .grupo1 .box .red-social a:hover {
	color: #4b4b4b;
}

.pie-paguina .grupo2 {
	width: 90%;
	max-width: 1600px;
	margin: auto;
	margin-bottom: 5px;
	padding: 9px 60px;
	background: #f1eeee;
	text-align: center;
	border-radius: 10px;
}

